<div class="tp-rooms">
  {% for room in rooms %}
  <article class="tp-room">
    <div class="tp-room__top">
      <a href="{% url 'user-profile' room.host.id %}" class="tp-room__author">
        <img class="tp-avatar tp-avatar--sm" src="{{ room.host.avatar.url }}" />
        <span>@{{ room.host.username }}</span>
      </a>
      <span class="tp-room__time">{{ room.created|timesince }} ago</span>
    </div>

    <a class="tp-room__title" href="{% url 'room' room.id %}">{{ room.name }}</a>

    <div class="tp-room__foot">
      <a href="{% url 'room' room.id %}" class="tp-room__joined">
        <svg viewBox="0 0 32 32"><path d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z"></path><path d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7z"></path></svg>
        {{ room.participents.all.count }} joined
      </a>
      <a href="{% url 'home' %}?q={{ room.topic.name }}" class="tp-tag">{{ room.topic.name }}</a>
    </div>
  </article>
  {% empty %}
  <div class="tp-card">
    <div class="tp-empty">
      <svg viewBox="0 0 32 32"><path d="M28 6h-24c-2.209 0-4 1.791-4 4v16c0 2.209 1.791 4 4 4h24c2.209 0 4-1.791 4-4v-16c0-2.209-1.791-4-4-4zM4 8h24c1.103 0 2 0.897 2 2v2h-28v-2c0-1.103 0.897-2 2-2zM28 28h-24c-1.103 0-2-0.897-2-2v-10h28v10c0 1.103-0.897 2-2 2z"></path></svg>
      <h3>No rooms yet</h3>
      <p>Be the first to start a conversation.</p>
    </div>
  </div>
  {% endfor %}
</div>
